<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<title>Manager Activity</title>
	<link type="text/css" rel="stylesheet" href="${pageContext.request.contextPath}/resources/static/css/style.css"/>
</head>

<body>
<div id="wrapper">
	<div id="header">
		<h2>Information for Managers</h2>
	</div>
</div>
<a th:href="@{/manager/userList}">User List</a>
<br>
<br>

<a th:href="@{/manager/tableList}">Table List</a>

<br>
<br>
<a th:href="@{/}">Back to Home Page</a>

</body>


</html>









